body {
  background-color: #C6E7D3;
  font-family: "Alegraya Sans", sans-serif;
  font-optical-sizing: auto;
  min-height: 100vh;
  margin: 0;
}

h1 {
  position: relative;
  color: black;
  background: fixed;  
}

header {
  z-index: 100;
  text-align: center;
  padding: 1px;
  font-size:large;
  background: rgb(10, 133, 59);
}

.sidebar {
  z-index: 3;
  display: flex;
  flex: column;
  position: sticky;
  height: 100vh;
  text-align: center;
  width: 300px;
  border: 3px black #73AD21;
  box-shadow: 4px 0px 4px rgb(138, 138, 138);
}

footer { 
  z-index: 100;
  text-align:center;
  padding: 8px;
  background: rgb(10, 133, 59);
}

.alegreya-sans-thin {
    font-family: "Alegreya Sans", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  .alegreya-sans-light {
    font-family: "Alegreya Sans", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  .alegreya-sans-regular {
    font-family: "Alegreya Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  .alegreya-sans-medium {
    font-family: "Alegreya Sans", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  .alegreya-sans-bold {
    font-family: "Alegreya Sans", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  .alegreya-sans-extrabold {
    font-family: "Alegreya Sans", sans-serif;
    font-weight: 800;
    font-style: normal;
  }
  .alegreya-sans-black {
    font-family: "Alegreya Sans", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  .alegreya-sans-thin-italic {
    font-family: "Alegreya Sans", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  .alegreya-sans-light-italic {
    font-family: "Alegreya Sans", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  .alegreya-sans-regular-italic {
    font-family: "Alegreya Sans", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  .alegreya-sans-medium-italic {
    font-family: "Alegreya Sans", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  .alegreya-sans-bold-italic {
    font-family: "Alegreya Sans", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  .alegreya-sans-extrabold-italic {
    font-family: "Alegreya Sans", sans-serif;
    font-weight: 800;
    font-style: italic;
  } 
  .alegreya-sans-black-italic {
    font-family: "Alegreya Sans", sans-serif;
    font-weight: 900;
    font-style: italic;
  }
  